 name: React App CI/CD Pipeline

on:
  push:
    branches: [main, development]
  pull_request:
    branches: [main, development]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install dependencies
		working-directory: frontendfarmart
        run: npm ci

      - name: Run tests
		working-directory: frontendfarmart
        run: npm test -- --watchAll=false

      - name: Build app
		working-directory: frontendfarmart
        run: npm run build

      - name: Upload production build
        uses: actions/upload-artifact@v4
        with:
          name: production-build
          path: frontendfarmart/build
